
*{
    margin: 0;
    padding: 0;
    
    
}
.app{
    background:linear-gradient(to right, skyblue, rgb(87, 87, 244));
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}